{% extends 'base/front_base.html' %}
{% load news_filters %}

{% block title %}
    搜索
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/search/search.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="search-group">
                    <form action="{% url 'news:search' %}" method="get">
                        <input type="text" name="q" class="search-input" placeholder="请输入关键字">
                        <input type="submit" class="search-btn" value="搜索">
                    </form>
                </div>
                <div class="recommend-group">
                    <p class="recommend-title">热门推荐</p>
                    <ul class="recommend-list">
{#                        {% for news in newses %}#}
                        {% for news in page.object_list %}
                            <li>
                                <div class="thumbnail-group">
                                    <a href="#">
                                        <img src="{{ news.thumbnail }}" alt="">
                                    </a>
                                </div>
                                <div class="news-group">
                                    <p class="title">
                                        <a href="#">{{ news.title }}</a>
                                    </p>
                                    <p class="desc">
                                        {{ news.desc }}
                                    </p>
                                    <p class="more">
                                       <span class="category">{{ news.category.name }}</span>
                                        <span class="pub-time">{{ news.pub_time|time_since }}</span>
                                        <span class="author">{{ news.author.username }}</span>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
{#                        <li>#}
{#                            <div class="thumbnail-group">#}
{#                                <a href="#">#}
{#                                    <img src="http://static-image.xfz.cn/1516010894_546.jpg-website.news.list" alt="">#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="news-group">#}
{#                                <p class="title">#}
{#                                    <a href="#">#}
{#张小龙演讲全文：小程序、公众号将会有哪些变化？</a>#}
{#                                </p>#}
{#                                <p class="desc">#}
{#                                    我认为探索线下的精彩生活，这是我们下一步想要尝试的一个方向。#}
{#                                </p>#}
{#                                <p class="more">#}
{#                                   <span class="category">热点</span>#}
{#                                    <span class="pub-time">2小时前</span>#}
{#                                    <span class="author">知了课堂</span>#}
{#                                </p>#}
{#                            </div>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}