@import "init.scss";
@import "constants.scss";
$navHeight:64px;
body{
    background: #f2f2f2;
}
.footer{
    font-size: 14px;
    color: #c9c9c9;
    padding-top: 20px;
    .top-group{
        background: #555e67;
        height: 100px;
        padding-top: 26px;
        box-sizing: border-box;

        .top-inner-group{
            width:$pageWidth;
            margin: 0 auto;
            //overflow: hidden;  //溢出不显示，控制子节点浮动(清除浮动)
            position: absolute;

            .logo-box{
                width: 168px;
                height: 54px;
                float: left;   //在使用float时要考虑父节点中所有子节点也要浮动，如果不需要就要限制
                background: url("../../src/image/logo-test.png");
                background-repeat: no-repeat;
                background-size:100%;
            }
            .detail-group{
                float: left;
                margin-left: 84px;
                .line1{
                    overflow: hidden;
                    .links{
                        float: left;
                        overflow: hidden;
                        li{
                            float: left;
                            list-style: none;
                            padding: 0 10px;
                             a{
                                text-decoration: none;
                                color: #c9c9c9;
                            }
                            &:first-of-type{
                                padding-left:0;
                            }
                            &:last-of-type{
                                border-right: none;  //将最右侧边线取消
                            }
                            border-right: 1px solid #c9c9c9;  //设置右侧边线
                        }
                    }
                    .about-us{
                        float: left;
                        margin-left: 40px;
                        .title{
                            float: left;
                            margin-right: 20px;
                        }

                        .social-group{
                            float: left;
                            overflow: hidden;
                            li{
                                float: left;
                                list-style: none;
                                color: #ffffff;
                                .text{
                                    margin-left: 24px;
                                    color: #ffffff;
                                }
                            }
                            .weixin{
                                background: url("../../src/image/logo-test.png");
                                background-repeat: no-repeat;
                                background-size: 100%;
                                cursor: pointer; //改变显示状态
                                //position: relative;  //相对定位
                                &:hover .wx-qcode{
                                    display: block;
                                }  //hover事件，聚焦改变属性

                                .wx-qcode{
                                    width: 204px;
                                    height: 204px;
                                    background: url("../../src/image/night.jpg");
                                    background-size: 100%;
                                    position: absolute;  //绝对定位
                                    background-repeat: no-repeat;
                                    right: 360px;
                                    top:-120px;
                                    display: none;  //默认隐藏
                                }

                            }
                            .weibo{
                                margin-left: 20px;
                                background: url("../../src/image/logo-test.png");
                                background-repeat: no-repeat;
                                background-size: 100%;

                                }
                            }
                        }
                    }
                }

                .line2{
                    overflow: hidden;
                    margin-top: 20px;
                    .address{
                        float: left;
                    }
                    .contant{
                        float: left;
                        margin-left: 40px;
                    }
                }
            }
        }
    }