@import "init";
@import "constants.scss";
$navHeight:64px;
body{
    background: #f2f2f2;
}

.header{
    width: 100%;  //跟随浏览器变化，自适应100%
    height: $navHeight;
    background: #3a3a3a;
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index: 100;  //控制上下层关系

    .container{
        width: $pageWidth; //这里用文件中常量
        height: 100%;
        background: #3a3a3a;
        margin: 0 auto;
        overflow: hidden;

        .logo-box{
            width: 140px;
            height: 54px;
            background: url("https://www.xfz.cn/static/build/images/logo.png") no-repeat;
            margin-top: 10px;
            float: left;

            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .nav{
            margin-left: 128px;
            float: left;

            li{
                float: left;
                margin-right: 40px;
                line-height: $navHeight;
                box-sizing: border-box;
                list-style: none;  //不使用项目符号
                a{
                    color: white;
                    text-decoration: none;  //没有下划线
                }
                &:first-of-type{
                    border-bottom: 5px solid #5c87d9;
                }
                &.active{
                    a{
                        color: #5c87d9;  //选中状态激活时的样式
                    }
                }
            }
        }

        .auth-box{
            float: right;
            line-height: $navHeight;
            height: $navHeight;
            color: #ffffff;
            margin-right: 5px;

            .iconfont{
                color: #ffffff;
                font-size: 20px;
            }
            a{
                color: #ffffff;
                text-decoration: none;
                //float: left;
            }
        }
    }
}
