<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news</title>
    <link rel="stylesheet" href="../../dist/css/news_detail.min.css">
</head>
<body>
    <header class="header">   <! 导航条最外层>
        <div class="container">  <! 内层>
            <div class="logo-box">  <! 标签元素1>
                <a href="./src/image/logo.png"></a>  <! 连接属性>
            </div>
            <ul class="nav">  <!ul必须使用li标签   菜单横向标签，首先选择ul li标签>
                <li class="active"><a href="/">创业咨询</a></li>
                <li><a href="#">创业课堂</a></li>
                <li><a href="#">付费咨询</a></li>
                <li><a href="#">搜索</a></li>
            </ul>
            <div class="auth-box">  <!右侧块>
                <i class="icon-person iconfont"></i>
                <a href="#">登陆</a> /
                <a href="#">注册</a>
            </div>
        </div>
    </header>

    <div class="main">  <!主体也是4层盒子 外--主体--新闻--消息>
        <div class="wrapper">
            <div class="main-content-wrapper">  <! 新闻内容块>
                <div class="new-wrapper">
                    <h1 class="title">已经将Django最主要的五大系统介绍完毕，除了这些主要章节，
                        还有很多比较重要的内容，比如开发流程相关、安全、本地化与国际化</h1>  <! 新闻标题>
                    <div class="new-info">
                        <div class="info-group">  <! 新闻头左>
                            <span class="author">福禄娃</span>
                            <span class="pub-time">6月3日</span>
                            <span class="category">热点</span>
                        </div>
                        <div class="share-group">  <! 新闻头右>
                            <span>分享：</span>
                            <a class="weixing share-item"></a>
                            <a class="weibo share-item"></a>
                        </div>
                    </div>
                    <article class="article">  <! article是H5中新标签>
                        二、 Django的form表单
通常情况下，我们需要自己手动在HTML页面中，编写form标签和其内的其它元素。但这费时费力，而且有可能写得不太恰当，
                        数据验证也比较麻烦。有鉴于此，Django在内部集成了一个表单模块，专门帮助我们快速处理表单相关的内容。
                        Django的表单模块给我们提供了下面三个主要功能：

准备和重构数据用于页面渲染为数据创建HTML表单元素接收和处理用户从表单发送过来的数据编写Django的form表单，非常类似
                        我们在模型系统里编写一个模型。在模型中，一个字段代表数据表的一列，而form表单中的一个字段代表<form>中的一个<input>元素。

详细教程：
                    </article>
                </div>
                <div class="comment-wrapper">  <! 评论>
                    <h3 class="title">文章评论(03)</h3>
                    <textarea name="comment" class="comment-textarea nologin-textarea"
                    placeholder="立即登陆，参与评论" readonly></textarea>  <! readonly只读>
                    <div class="submit-btn-group">
                        <button class="submit-btn">立即评论</button>
                    </div>
                    <ul class="comment-list">
                        <li>
                            <div class="comment-info">
                                <img src="../../src/image/logo.png" alt="" class="avatar">
                                <sapn class="autor">小知了</sapn>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <p class="comment-content">这是第一条评论</p>
                        </li>
                        <li>
                            <div class="comment-info">
                                <img src="../../src/image/logo.png" alt="" class="avatar">
                                <sapn class="autor">小知了</sapn>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <p class="comment-content">这是第一条评论</p>
                        </li>
                    </ul>
                </div>
            </div>  <! 同级元素 属于主体的一部分>
            <div class="sidebar-wrapper">  <! 右侧广告块>
                <div class="title-group">  <! 1,标题>
                    <span class="title">在线课堂</span>
                    <a href="#" class="more">更多</a>
                </div>
                <div class="advertise-group">  <! 2,广告>
                    <a href="#">
                        <img src="../../src/image/night.jpg" alt="">  <!图片点击链接>
                    </a>
                </div>
                <div class="platform-group">  <!第三方应用>
                    <div class="title-group">  <! 1,标题>
                        <span class="title">关注小饭桌</span>
                        <a href="#" class="more">更多</a>
                    </div>
                    <div class="focus-group">  <! 工具展示>
                        <ul class="left-group">  <! 左边>
                            <li class="zhihu">
                                <a href="#" target="_blank">小饭桌创业</a>  <!target_blank 新建窗口打开页面>
                            </li>
                            <li class="weibo">
                                <a href="#" target="_blank">小饭桌创业</a>  <!target_blank 新建窗口打开页面>
                            </li>
                            <li class="toutiao">
                                <a href="#" target="_blank">小饭桌</a>  <!target_blank 新建窗口打开页面>
                            </li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">公众号hahhahahahhwh</p>
                        </div>
                    </div>
                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>
                    <ul class="hot-list-group">   <! 热门推荐>
                        <li>
                            <div class="left-group">  <!左>
                                <p class="title">
                                    <a href="#">进军海外...</a>
                                </p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                </p>
                            </div>
                            <div class="right-group">  <!右>
                                <a href="#">
                                    <img src="../../src/image/night.jpg" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">   <! 底部盒子>
        <div class="top-group">  <! 底部上盒子>
            <div class="top-inner-group">  <! 底部内部盒子>
                <div class="logo-box"></div>  <! 左侧Logo>
                <div class="detail-group">  <! 中间文字>
                    <div class="line1">  <! 第一行>
                        <ul class="links">  <! 具体标签>
                            <li><a href="">关于小饭桌</a></li>
                            <li><a href="">创业课堂</a></li>
                            <li><a href="">寻求报道</a></li>
                            <li><a href="">创业礼包</a></li>
                        </ul>  <! 文字左>
                        <div class="about-us">  <! 文字右>
                            <span class="title">关于我们</span>
                            <ul class="social-group">
                                <li class="weixin">
                                    <div class="wx-qcode">

                                    </div>
                                    <span class="text">xfz008</span>
                                </li>
                                <li class="weibo">
                                    <a class="text" href="#">xfz009</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="line2">  <! 第二行>
                        <p class="address">西撒打算发的顺丰到付大街</p>
                        <p class="contant">联系方式：1234566</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-group">中华人民共和国</div>  <! 底部下盒子>
    </footer>
</body>
</html>